.form-control {
  outline: none;
  border: solid 1px $stroke;
  border-radius: 14px;
  height: 60px;
  font-size: 16px;
  padding: 0px 24px;
  box-shadow: none !important;
  background-color: $white;

  &:focus {
    background-color: $white;
    border: solid 1px $stroke;
  }

  &::placeholder {
    color: $default;
    opacity: 0.7;
  }
}
